.feature-properties{
    background-color: #F5F5F5;
    overflow: hidden;
    padding-bottom: 40px
}

.flex-container{
    flex-direction: column;
    display: flex;
}

.feature-properties .flex-container{
    height: 350px;
    position: relative;
}

.feature-properties .flex-container{
    height: 350px;
    position: relative;
}

.feature-properties .slider-wrapper{
    padding: 0 10px;
    height: 100%;
    position: relative;
}

.feature-properties .module-slider{
    height: 100%;
    overflow: hidden;
}
.feature-properties .module-slider .slider-viewport{
     height: 100%;
}